@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 244 244 245;
  --background: 9 9 11;
  --muted: 39 39 42;
  --accent: 34 197 94;
  --accent-foreground: 9 9 11;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
